doctype
html
	head
		title #{title} - RedsSinglePager
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Red's Single Pager
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Running on node with Express, Jade, and Stylus
